@{
  Layout = "_Layout";
}
<h1>Order Details:</h1>

<h3>Description: @Model["order"].Description</h3>
<h3>Price: $@Model["order"].Price</h3>
<h3>Date order was placed: @Model["order"].Date</h3>

<a href='/vendors/@Model["vendor"].Id/orders/new'>Add another order</a>
<a href='/vendors'>See all vendors</a>