@{
  Layout = "_Layout";
}
<h1>Order Details:</h1>

<p>Description: @Model["order"].Description</p>
<p>Price: $@Model["order"].Price</p>
<p>Date order was placed: @Model["order"].Date</p>

<p><a href='/vendors/@Model["vendor"].Id/orders/new'>Add another order</a></p>
<p><a href='/vendors'>See all vendors</a></p>