@{
  Layout = "_Layout";
}
@using PierresBakeryWebsite.Models;

<h3>@Model["vendor"].Name Orders</h3>
<h4><em>@Model["vendor"].Description</em></h4>

@if (Model["orders"].Count == 0)
{
  <p>This vendor does not have any orders yet.</p>
}
<ol>
@foreach (Order order in @Model["orders"])
{
  <li><a href='/vendors/@Model["vendor"].Id/orders/@order.Id'>@order.Description</a></li>
}
</ol>

<p><a href='/vendors/@Model["vendor"].Id/orders/new'>Record a new order for this vendor</a></p>
<p><a href='/vendors'>See all vendors</a></p>
<p><a href='/'>Return to Main Page</a></p>